*{
    margin: 0;
    padding: 0;
}

.header{

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(slike/backgroundslika.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{

    background-color: #ffffffdc ;

    display: flex;
    padding: 2% 6%;
    justify-content: space-between;

}


nav img{
    width: 100px;
    color: #ffffffdc;
}

.nav-links{
    flex: 1;
    text-align: right;

}

.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 50px 12px;
    position: relative;

}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
}

.nav-links ul li::after{

    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


